body {
    font-family: sans-serif;
    background: #f5f5f5;
    
}
.features {
   
    margin: auto;
    padding: 4rem 2rem;
}
.intro {
    text-align: center;
    max-width: 500px;
    margin: auto;
    color:black;

}
.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 20px;
    align-items: center;
}

.supervisor {
    margin-top: 50px;
    border-top: 4px solid cyan;
}
.middle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.team-builder {
    border-top: 4px solid red;
}

.karma {
    border-top: 4px solid orange;
}

.calculator {
    border-top: 4px solid blue;
    margin-top:50px;
}
.card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    max-height: 400px;
    min-height: 250px;
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .middle {
        gap: 2rem;
    }
}